/* استایل لیست محصولات */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  font-family: 'Vazirmatn', sans-serif;
}

.product-card {
  width: 30%;
  height: auto;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 24px;
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 26px rgba(0, 0, 0, 0.12);
}

.product-card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 14px;
    margin-top: -15px; /* ۵۰ پیکسل بالا می‌ره */
}

/* عنوان محصول */
.product-card h3 {
  font-size: 18px;
  font-weight: bold;
  color: #222;
  margin: 0 0 8px 0;
}

/* قیمت */
.product-card p {
  font-size: 16px;
  font-weight: 600;
  color: #555;
  margin: 0;
}

/* دکمه خرید */
.product-card button {
  background-color: #87CEEB;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 16px;
  box-shadow: 0 4px 12px rgba(135, 206, 235, 0.3);
}

.product-card button:hover {
  background-color: white;
  color: #87CEEB;
  border: 2px solid #87CEEB;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(135, 206, 235, 0.4);
}

/* حالت موبایل */
@media (max-width: 768px) {
  .product-list {
    flex-direction: column;
    align-items: center;
  }

  .product-card {
    width: 92%;
    padding: 14px;
  }

  .product-card img {
    height: 180px;
  }

  .product-card h3 {
    font-size: 16px;
  }

  .product-card p {
    font-size: 15px;
  }

  .product-card button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
